{% extends "base.html" %}
{% load static %}



{% block content %}
{% comment %} <h1>Latest news</h1>

<div class="news-list">
  {% for story in stories %}

  <section class="news-items">
  {% if story.image %}
  <img src="{{ story.image.url }}" alt="{{ story.title }}">
  
  
  {% endif %}
  
  <p>{{story.title}}</p>
  <p>{{story.content|truncatewords:30}}</p>
  
  <p>{{story.pub_date|date:"d F, Y"}} | {{ story.category }}</p>
  
  <a href="">Read More</a>
  </section>
  {% empty %}
  <p>No news available at the moment.</p>
  
  {% endfor %}
  
  
</div> {% endcomment %}


<div class="container">
  <div class="row">
    <div class="col-3">
      {% for story in Politics_news%}
      <section class="grid-items">
        <p><small>
          {{ story.pub_date|date:"d F, Y" }}
        </small></p>
          <h2>{{story.title}}</h2>
        {% endfor %}  

      </section>
    </div>

    <div class="col-6">

    </div>

    <div class="col-3">

    </div>
  </div>
</div>

{% endblock %}  