{% extends "base.html" %}
{% load static %}



{% block content %}
<h1>Latest news</h1>

<div class="news-list">
  {% for story in stories %}

  <section class="news-items">
  {% if story.image %}
  <img src="{{ story.image.url }}" alt="{{ story.title }}">
  
  
  {% endif %}
  
  <p>{{story.title}}</p>
  <p>{{story.content}}</p>
  
  <p>{{story.pub_date|date:"d F, Y"}} | {{ story.category }}</p>
  
  <a href="">Read More</a>
  </section>
  {% empty %}
  <p>No news available at the moment.</p>
  
  {% endfor %}
  
  
</div>


{% endblock %}  